---

Home ownership data:

This notebook contains **Analyze first-time home buyers by CMA**

In this part we will work through the following topics: 

1.	Age of first-time home owners
2.	Type of home for first-time home buyers
3.	Marital stats of first-time home buyers
4.	Location by city of first-time home buyers

In [1]:
#Import necessary libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import numpy as np

In [12]:
# Let's create a dataframe using the dbFTHB2018.csv file
df_fthb=pd.read_csv('csv/dbFTHB2018.csv',index_col=None)

In [13]:
# We should display the first 5 rows to get a sense of the data
df_fthb.head()

,REF_DATE,GEO,DGUID,Dwelling tenure,Selected housing indicators,Statistics,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2018,"Montréal, Quebec",2016S0503462,Owner who is a first-time homebuyer,"Total, structural type of dwelling",Number of households,Number,223,units,0,v1110604520,64.3.1.1,150300.0,B,NaN,NaN,0
1,2018,"Montréal, Quebec",2016S0503462,Owner who is a first-time homebuyer,"Total, structural type of dwelling",Percentage of households,Percent,239,units,0,v1110604523,64.3.1.4,100.0,NaN,NaN,NaN,1
2,2018,"Montréal, Quebec",2016S0503462,Owner who is a first-time homebuyer,Single-detached house,Number of households,Number,223,units,0,v1110604526,64.3.2.1,57200.0,B,NaN,NaN,0
3,2018,"Montréal, Quebec",2016S0503462,Owner who is a first-time homebuyer,Single-detached house,Percentage of households,Percent,239,units,0,v1110604529,64.3.2.4,38.0,NaN,NaN,NaN,1
4,2018,"Montréal, Quebec",2016S0503462,Owner who is a first-time homebuyer,Semi-detached house,Number of households,Number,223,units,0,v1110604532,64.3.3.1,13400.0,D,NaN,NaN,0

In [14]:
df_fthb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 912 entries, 0 to 911
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   REF_DATE                     912 non-null    int64
 1   GEO                          912 non-null    object
 2   DGUID                        912 non-null    object
 3   Dwelling tenure              912 non-null    object
 4   Selected housing indicators  912 non-null    object
 5   Statistics                   912 non-null    object
 6   UOM                          912 non-null    object
 7   UOM_ID                       912 non-null    int64
 8   SCALAR_FACTOR                912 non-null    object
 9   SCALAR_ID                    912 non-null    int64
 10  VECTOR                       912 non-null    object
 11  COORDINATE                   912 non-null    object
 12  VALUE                        832 non-null    float64
 13  STATUS                       514 non-null    object
 14  SYMBOL                       0 non-null      float64
 15  TERMINATED                   0 non-null      float64
 16  DECIMALS                     912 non-null    int64
dtypes: float64(3), int64(4), object(10)
memory usage: 121.2+ KB

In [15]:
df_fthb.describe()

,REF_DATE,UOM_ID,SCALAR_ID,VALUE,SYMBOL,TERMINATED,DECIMALS
count,912.0,912.00000,912.0,832.000000,0.0,0.0,912.000000
mean,2018.0,231.00000,0.0,35165.031130,NaN,NaN,0.500000
std,0.0,8.00439,0.0,100196.941321,NaN,NaN,0.500274
min,2018.0,223.00000,0.0,0.300000,NaN,NaN,0.000000
25%,2018.0,223.00000,0.0,16.575000,NaN,NaN,0.000000
50%,2018.0,231.00000,0.0,600.000000,NaN,NaN,0.500000
75%,2018.0,239.00000,0.0,25475.000000,NaN,NaN,1.000000
max,2018.0,239.00000,0.0,791900.000000,NaN,NaN,1.000000