---

Home ownership data:

This notebook contains **Analyze first-time home buyers by CMA**

In this part we will work through the following topics: 

1.	Age of first-time home owners
2.	Type of home for first-time home buyers
3.	Marital stats of first-time home buyers
4.	Location by city of first-time home buyers

In [1]:
#Import necessary libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import numpy as np

In [2]:
# Let's create a dataframe using the dbFTHB2018.csv file
df_fthb=pd.read_csv('csv/dbFTHB2018.csv',index_col=None)

In [3]:
# We should display the first 5 rows to get a sense of the data
df_fthb.head()

,REF_DATE,GEO,DGUID,Dwelling tenure,Selected housing indicators,Statistics,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2018,"Montréal, Quebec",2016S0503462,Owner who is a first-time homebuyer,"Total, structural type of dwelling",Number of households,Number,223,units,0,v1110604520,64.3.1.1,150300.0,B,NaN,NaN,0
1,2018,"Montréal, Quebec",2016S0503462,Owner who is a first-time homebuyer,"Total, structural type of dwelling",Percentage of households,Percent,239,units,0,v1110604523,64.3.1.4,100.0,NaN,NaN,NaN,1
2,2018,"Montréal, Quebec",2016S0503462,Owner who is a first-time homebuyer,Single-detached house,Number of households,Number,223,units,0,v1110604526,64.3.2.1,57200.0,B,NaN,NaN,0
3,2018,"Montréal, Quebec",2016S0503462,Owner who is a first-time homebuyer,Single-detached house,Percentage of households,Percent,239,units,0,v1110604529,64.3.2.4,38.0,NaN,NaN,NaN,1
4,2018,"Montréal, Quebec",2016S0503462,Owner who is a first-time homebuyer,Semi-detached house,Number of households,Number,223,units,0,v1110604532,64.3.3.1,13400.0,D,NaN,NaN,0

In [4]:
df_fthb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 912 entries, 0 to 911
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   REF_DATE                     912 non-null    int64
 1   GEO                          912 non-null    object
 2   DGUID                        912 non-null    object
 3   Dwelling tenure              912 non-null    object
 4   Selected housing indicators  912 non-null    object
 5   Statistics                   912 non-null    object
 6   UOM                          912 non-null    object
 7   UOM_ID                       912 non-null    int64
 8   SCALAR_FACTOR                912 non-null    object
 9   SCALAR_ID                    912 non-null    int64
 10  VECTOR                       912 non-null    object
 11  COORDINATE                   912 non-null    object
 12  VALUE                        832 non-null    float64
 13  STATUS                       514 non-null    object
 14  SYMBOL                       0 non-null      float64
 15  TERMINATED                   0 non-null      float64
 16  DECIMALS                     912 non-null    int64
dtypes: float64(3), int64(4), object(10)
memory usage: 121.2+ KB

In [5]:
df_fthb.describe()

,REF_DATE,UOM_ID,SCALAR_ID,VALUE,SYMBOL,TERMINATED,DECIMALS
count,912.0,912.00000,912.0,832.000000,0.0,0.0,912.000000
mean,2018.0,231.00000,0.0,35165.031130,NaN,NaN,0.500000
std,0.0,8.00439,0.0,100196.941321,NaN,NaN,0.500274
min,2018.0,223.00000,0.0,0.300000,NaN,NaN,0.000000
25%,2018.0,223.00000,0.0,16.575000,NaN,NaN,0.000000
50%,2018.0,231.00000,0.0,600.000000,NaN,NaN,0.500000
75%,2018.0,239.00000,0.0,25475.000000,NaN,NaN,1.000000
max,2018.0,239.00000,0.0,791900.000000,NaN,NaN,1.000000

In [40]:
# Now let's check if there's any missing data
df_fthb.isnull().sum()

REF_DATE                         0
GEO                              0
DGUID                            0
Dwelling tenure                  0
Selected housing indicators      0
Statistics                       0
UOM                              0
UOM_ID                           0
SCALAR_FACTOR                    0
SCALAR_ID                        0
VECTOR                           0
COORDINATE                       0
VALUE                           80
STATUS                         398
SYMBOL                         912
TERMINATED                     912
DECIMALS                         0
dtype: int64

In [36]:
#Let's check cities
df_fthb.groupby('GEO')['DGUID'].agg(['count', 'size', 'nunique']).stack()

GEO
Calgary, Alberta                 count      152
                                 size       152
                                 nunique      1
Edmonton, Alberta                count      152
                                 size       152
                                 nunique      1
Montréal, Quebec                 count      152
                                 size       152
                                 nunique      1
Ottawa-Gatineau, Ontario/Quebec  count      152
                                 size       152
                                 nunique      1
Toronto, Ontario                 count      152
                                 size       152
                                 nunique      1
Vancouver, British Columbia      count      152
                                 size       152
                                 nunique      1
dtype: int64

In [25]:
df_fthb["GEO"].unique()

array(['Montréal, Quebec', 'Ottawa-Gatineau, Ontario/Quebec',
       'Toronto, Ontario', 'Calgary, Alberta', 'Edmonton, Alberta',
       'Vancouver, British Columbia'], dtype=object)

In [42]:
#Unique values for Dwelling tenure
df_fthb.groupby('Dwelling tenure')['DGUID'].agg(['count', 'size', 'nunique']).stack()

Dwelling tenure
Owner who is a first-time homebuyer  count      456
                                     size       456
                                     nunique      6
Renter                               count      456
                                     size       456
                                     nunique      6
dtype: int64

In [10]:
#Unique values for Selected housing indicators
df_fthb["Selected housing indicators"].unique()

array(['Total, structural type of dwelling', 'Single-detached house',
       'Semi-detached house', 'Row house',
       'Apartment or flat in a duplex',
       'Apartment in a building that has five or more storeys',
       'Apartment in a building that has fewer than five storeys',
       'Other single-attached house', 'Moveable dwelling',
       'Total, condominium status', 'Condominium', 'Not condominium',
       'Total, satisfaction with dwelling',
       'Very satisfied with dwelling', 'Satisfied with dwelling',
       'Neither satisfied nor dissatisfied with dwelling',
       'Dissatisfied with dwelling', 'Very dissatisfied with dwelling',
       'Total, satisfaction with neighbourhood',
       'Very satisfied with neighbourhood',
       'Satisfied with neighbourhood',
       'Neither satisfied nor dissatisfied with neighbourhood',
       'Dissatisfied with neighbourhood',
       'Very dissatisfied with neighbourhood',
       'Moved because the household was forced to move by a landlord, a bank or other financial institution or the government',
       'Moved due to a natural disaster or fire',
       'Moved for a new job or job transfer', 'Moved for a new school',
       'Moved to form own household', 'Moved to be closer to family',
       'Moved because of a change in household or family size',
       'Moved to reduce commuting time',
       'Moved to upgrade to a larger dwelling or better quality dwelling',
       'Moved to reduce housing costs',
       'Moved to be in a more desirable neighbourhood',
       'Moved for personal health reasons', 'Moved to become a homeowner',
       'Moved for another reason'], dtype=object)

In [44]:
# Okay. We can use the crosstab function to pivot Selected housing indicators and Dwelling tenure
Housing_Indicator_Analysis = pd.crosstab(df_fthb['Selected housing indicators'],df_fthb['Dwelling tenure'],df_fthb['DGUID'],aggfunc='count').round(1)
Housing_Indicator_Analysis

Dwelling tenure,Owner who is a first-time homebuyer,Renter
Selected housing indicators,,
Apartment in a building that has fewer than five storeys,12,12
Apartment in a building that has five or more storeys,12,12
Apartment or flat in a duplex,12,12
Condominium,12,12
Dissatisfied with dwelling,12,12
Dissatisfied with neighbourhood,12,12
Moveable dwelling,12,12
Moved because of a change in household or family size,12,12
"Moved because the household was forced to move by a landlord, a bank or other financial institution or the government",12,12
Moved due to a natural disaster or fire,12,12
Moved for a new job or job transfer,12,12
Moved for a new school,12,12
Moved for another reason,12,12
Moved for personal health reasons,12,12
Moved to be closer to family,12,12
Moved to be in a more desirable neighbourhood,12,12
Moved to become a homeowner,12,12
Moved to form own household,12,12
Moved to reduce commuting time,12,12
Moved to reduce housing costs,12,12
Moved to upgrade to a larger dwelling or better quality dwelling,12,12
Neither satisfied nor dissatisfied with dwelling,12,12
Neither satisfied nor dissatisfied with neighbourhood,12,12
Not condominium,12,12
Other single-attached house,12,12
Row house,12,12
Satisfied with dwelling,12,12
Satisfied with neighbourhood,12,12
Semi-detached house,12,12
Single-detached house,12,12
"Total, condominium status",12,12
"Total, satisfaction with dwelling",12,12
"Total, satisfaction with neighbourhood",12,12
"Total, structural type of dwelling",12,12
Very dissatisfied with dwelling,12,12
Very dissatisfied with neighbourhood,12,12
Very satisfied with dwelling,12,12
Very satisfied with neighbourhood,12,12